/* Blog links */

.blog_banner {
    width: 33%;
    float: left;
    height: 225px;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    margin: 1.5px;
}

/*.about_banner img {
    position: absolute;
    width: 100%;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

.blog_name {
    font-family: "Ailerons";
    color: white;
    text-align: center;
    background-color: rgba(0,0,0, 0.5);
    font-size: 25px;
    white-space: normal;
    /* position: absolute; */
    bottom: 40%;
    width: 100%;
}
.blog_date {

}

.blog_arrow_down {
    width: 100%;
    text-align: center;
    bottom: 0%;
    background-color: rgba(0,0,0, 0.5);
}
.blog_arrow_down img{
    height: 40px;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
}

.blog_arrow_up {
    width: 100%;
    text-align: center;
    bottom: 0%;
    background-color: rgba(0,0,0, 0.5);
}
.blog_arrow_up img{
    height: 40px;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}

/*
#about_me {
    background-position: 50% 35%;
}
#about_resume {
    background-position: 50% 37%;
}
#about_interests {
    background-position: 50% 36%;
}
#about_travels {
    background-position: 50% 83%;
}
#about_books {
    background-position: 50% 57%;
}
*/