@font-face {
		font-family: "Elegant-Lux";
		src: url("http:/stevenelleman.github.io/fonts/ElegantLux-Mager.otf");
	}
	/*
	@font-face {
		font-family: "Pirou";
		src: url("http:/stevenelleman.github.io/fonts/Pirou-Regular.otf");
	}
	
	@font-face {
		font-family: "Ailerons";
		src: url("http:/stevenelleman.github.io/fonts/Ailerons-Typeface.otf");
	}*/