

.arrow_left {
	position: absolute;
	left:0;
	height: 0;

}

.arrow_right {
	position: absolute;
	right:0;
	height:0;
}

.arrow_down {
	width: 1em;
	height: 1em;
	width: 100%;
	height:2em;
}

.galleries {

}

.signature {
	top:0;
	width:100%;
	background-color: black;
	height:3em;
}

.showcase_container {
	display: block;
    height: 1200px;
    left: -8px;
    top: 70px;
    margin: auto;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    clear: both;
    margin-bottom: 2px;

}

.all_showcase {
	position: absolute;
	float: left;
	width: 600%;
}