body {
	margin: 0;
}

.arrow_left {
	position: absolute;
}

.arrow_left img {
	width:50px;
	left:0;
	filter: invert(100%);
	vertical-align:middle;
}

.arrow_right {
	position: absolute;
}

.arrow_right img {
	width:50px;
	right:0;
	filter: invert(100%);
	vertical-align:middle;
}

.arrow_down {
	position: absolute;
	width: 100%;
	height:2em;
	float: ;
	clear: both;
}

.galleries {

}

.current {
	width: 100%;
	display: block;
}

.close {
	display: none;
}

.signature {
	/*top:-10px;
	left:-10px;
	width:105%;*/
	background-color: black;
	height:30px;
	border-bottom: solid;
	border-color:white;
	border-width: 2px;
}

.showcase {
    height: 1100px;
    margin: auto;
    background-position: 50% 18%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    clear: both;
    margin-bottom: 2px;

}

.all_showcase {
	top: 30px;
	display: inline-block;
	position: absolute;
	overflow: scroll;
	/*float: left;*/
}